/* TodoListItem.css */
.TodoListItem {
    margin: 1em auto;
    display: flex;
    align-items: center;
    padding-bottom: 1.1em;
    border-bottom: 1px solid #ddd;
    gap: 25px;
    /* justify-content: space-around; */
}
.TodoListItem .chkbox {
    width: 20px;
}
.TodoListItem .content {
    flex: 1;
}
.TodoListItem .wdate {
    font-size: 0.9em;
    color: gray;
}
